
body {
	background-color: #D3D3D3;
}



  #left, #right{
  	position: fixed;
  	width:50%;
  	height:93%;
  }

#right{
	background-color: white;
    right:02%;
    z-index: -1;
    top:03%;
    float:left;
    overflow-y:auto;
    
}
#left {
	left:2%;
	z-index: -1;
	top:;
	top:10%;
}


IMG.cow{
	display: block;
	margin: 0 auto;
}
IMG.git{
	position: relative;
	left:45%;
	top:2%;

}

IMG.linkd {
	position: relative;
	width:15%;
	left:15%;
	top: 10%;
}

#box{
	position: relative;
	background-color: #222222;
	width:100%;
	height:20%;
	z-index: -1;
	top: 100%;
}

h1{
	position: absolute;
	left: 26%;
	top: 20%;
	font-weight: 700;
	font-size: 500%;
	font-family:"impact";
	text-transform: uppercase;

}	
h2 {
	position: absolute;
	left: 27%;
	top:33%;
	font-size:200%;
	font-family: "impact";
}
h5{
	color:white;
	position:absolute;
	left:0%;
	font-size: 300%;
	

}
h4 {
	position: absolute;
	top:20%;
	right:18%;
	font-size: 200%;
}
h3{
	position: absolute;
	color:white;
	top:60%;
	left:0%;
}
 a.button {
 	background-color: #f44336;
 	color: white;
 	text-align: center;
 	display: inline-block;
 	position: absolute;
 	right: 0%;
 	height: 100%;
 	width: 20%;
 	text-decoration: none;
 }